#about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#about .content p {
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}

#about .content img {
    justify-self: center;
    max-width: 800px;
    object-fit: cover;
    border-radius: 10px;
    bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
    }

    #about .content img {
        max-width: 100%;
    }
}