#skills {
    display: block;
}

#skills p {
    text-align: left;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 300;
}

#skills a {
    text-decoration: none;
    color: var(--text2);
}

#skills ul {
    padding: 0;
    margin: 0;
    margin-left: 40px;
}

#skills ul li {
    margin: 10px 0;
}