:root{
    --color1: #167070;
    --color2: #44857d;
    --color3: #fe6625;
    --color4: #fb9334;
    --color5: #414a4f;
    --color6: #003d59;
}

body{
    background: radial-gradient(circle, var(--color6) 0%, var(--color5) 100%); 
    font-family: 'Roboto', sans-serif;
    color: var(--color5);
}